<section id="one" class="tiles">
  <article>
    <span class="image">
      <img src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://middleware.blog" class="link">Technical Blog</a></h3>
      <p>www.middleware.blog</p>
    </header>
  </article>

  <article>
    <span class="image">
      <img src="https://media.wizards.com/2019/images/magic/products/archive_header_kjwelrkj.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://cabargas.com/21damage" class="link">21Damage</a></h3>
      <p>www.21damage.com | Free MtG Life Counter app</p>
    </header>
  </article>

  <article>
    <span class="image">
      <img src="https://felipe.dk/images/showcase.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://felipe.dk" class="link">Felipe en 🇩🇰</a></h3>
      <p>Blog about moving & living abroad</p>
    </header>
  </article>

  <article>
    <span class="image">
      <img src="https://scontent-scl1-1.xx.fbcdn.net/v/t31.0-8/11952965_10207574749065421_3096147562996444554_o.jpg?_nc_cat=100&_nc_oc=AQnULa2oh_f2ad6kX1RBbCLIBxeHhOOqDk4rd0VU3Eh2LciBXw9N24xGP-pWBaXqVmU&_nc_ht=scontent-scl1-1.xx&oh=709cf1de89592b488b310157e591217f&oe=5DF82D3C" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://speakerdeck.com/felipecabargas" class="link">Presentations</a></h3>
      <p>See & Download Slides from my previous talks</p>
    </header>
  </article>
</section>
